<!DOCTYPE html>
  <html>
    <head>
      <style>
      </style>
    </head>
    <body>
      <div id="app">
        <div v-if="!this.tabInfo && isMounted" v-for="(val, key, i) in tabInfo" :key="i">
          <my-tab  
            :tab="val" 
            :mytitle="titles[key]"
            :mycolor="colors[key]"
            :myicon="icons[key]"
            @deletetab="delTab" 
            @edit="modifyTitle" 
            @ret="returnName(parseInt(key))"
            @color="saveColor"
            :origintitle="getTabInfo(parseInt(key)).title"
          ></my-tab>
        </div>
      </div>

      <script src="vue.js"></script>
      <script src="popup.js"></script>
    </body>
  </html>